<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="svcListener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" logKnownPii="true">
        <listeners>
          <add name="svcListener"/>
        </listeners>
      </source>
      <source name="System.Security.Cryptography.Xml.SignedXml" switchValue="Information">
        <listeners>
          <add name="textListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="svcListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Traces.svclog"/>
      <add name="textListener" type="System.Diagnostics.DelimitedListTraceListener" initializeData="traces.log"/>
    </sharedListeners>
    <trace autoflush="true"/>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logKnownPii="true" maxMessagesToLog="300" logMessagesAtServiceLevel="true" logMalformedMessages="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <bindings>
      <customBinding>
        <binding name="XadesToolsSOAP12">
          <security defaultAlgorithmSuite="Basic128" authenticationMode="CertificateOverTransport" requireDerivedKeys="true" securityHeaderLayout="Lax" includeTimestamp="true" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10">
            <localClientSettings detectReplays="false"/>
            <localServiceSettings detectReplays="false"/>
          </security>
          <mtomMessageEncoding/>
          <httpsTransport/>
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="im" messageEncoding="Mtom" useDefaultWebProxy="true">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="Certificate" negotiateServiceCredential="false" establishSecurityContext="false"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://dev.mycarenet.be/im-ws/XadesTools" behaviorConfiguration="my-eid" binding="wsHttpBinding" bindingConfiguration="im" contract="IM.XadesTools" name="XadesToolsSOAP12"/>
      <endpoint address="https://dev.mycarenet.be/im-ws/XadesTools" binding="customBinding" bindingConfiguration="XadesToolsSOAP12" contract="IntModule.XadesTools" name="XadesToolsSOAP121"/>
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="my-eid">
          <clientCredentials>
            <clientCertificate x509FindType="FindByThumbprint" findValue="1ac02600f2f2b68f99f1e8eeab2e780470e0ea4c"/>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
